---
layout: default
---
<div class="post">
  <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="post__header section-padding--double">
      <div class="PageNavigation">
        {% if page.previous.url %}
          <a class="post__nav-link post__prev-nav-link" href="{{page.previous.url}}"></a>
        {% endif %}
        {% if page.next.url %}
          <a class="post__nav-link post__next-nav-link" href="{{page.next.url}}"></a>
        {% endif %}
      </div>
      <div class="grid-small">
        <h2 itemprop="name headline">Expanse Cocktail #{{page.number}}<br> {{ page.name }}</h2>

        <time class="post__date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-d %b %Y" }}</time>
      </div>
    </div>

    {% if page.hero %}
      <div class="post__img">
        <div>
          <figure class="absolute-bg" style="background-image: url('{{ page.hero }}');"></figure>
        </div>
      </div>
    {% endif %}

    {% if page.video_hero %}
      <div class="post__img">
        <div>
          <video class="absolute-bg" autoplay muted loop>
            <source src="{{page.video_hero}}" type="video/mp4">
          </video>
        </div>
      </div>
    {% endif %}

    <div class="post__content section-padding">
      <div class="grid">
        <div id="markdown" itemprop="articleBody">
          {{content}}
        </div>

        {% include share.html %}
      </div>
    </div>

    <!-- Everything inside the #author tags pulls data from the author -->
    {% if page.author %}
      <div class="section-padding--none">
        <div class="grid">
          <hr class="sep"/>
        </div>
      </div>

      <div class="section-padding">
        <div class="grid-small">
          {% for author in site.author %}
            <span class="post__author">Posted by {% if author["name"] == page.author and author["url"] %}<a href="{{ author['url'] }}" title="More By {{ page.author }}">{% endif %}{{ page.author }}{% if author["name"] == page.author and author["url"] %}</a>{% endif %}</span>
            {% if author["name"] == page.author %}
              <p class="post__bio">{{ author["bio"] }}</p>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% include disqus.html %}

  </article>
</div>
